Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure

Makefile
!src/squashfs-tools/Makefile
config.h
config.h.in~
config.log
config.status
stamp-h1


cladder
cladder-*.*.*.tar.*
man/cladder.8

src/.deps/
src/.dirstamp
src/*.o

src/net/.deps/
src/net/.dirstamp
src/net/*.o

src/deps/squashfs/*.o
src/deps/squashfs/.deps/
src/deps/squashfs/.dirstamp

src/deps/lz4/*.o
src/deps/lz4/.deps/
src/deps/lz4/.dirstamp

t/*.trs
t/*log
test-suite.log
